<h2>Editando:  "<%= current_user %>"</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <%= f.input :current_password, required: true, label: 'contraseña actual' %>
    <%= f.input :password, autocomplete: "off", required: false, label: 'nueva contraseña' %>
    <%= f.input :password_confirmation, required: false, label: 'confirmar contraseña' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Actualizar datos" %>
  </div>
<% end %>

<%= back_link %>
