<p>Hola <%= current_user %>!</p>
<ul>
  <li> <%= link_to 'Administrar paginas', pages_path %> </li>
  <li> <%= link_to 'Administrar redes sociales', social_links_path %> </li>
  <li> <%= link_to 'Crear pagina', new_page_path %> </li>
  <li> <%= link_to 'Cambiar contraseña', edit_user_registration_path %> </li>
</ul>




