<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag('admin', 'data-turbolinks-track' => true) if current_user %>

<script>
  var _gaq=[['_setAccount',"<%= ENV['YEAH_ANALYTICS_ID'] %>"],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<%= content_for :post_js %>
