<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="<%=asset_path('jquery-1.11.1.min.js')%>"><\/script>')</script>

