<header>
  <div class="container">
    <div class="col-1-2">
      <h1 class="hide-text">
        <%= link_to image_tag('logoyeah.png'), root_path %>
      </h1>
    </div>
    <div class="col-1-2">
      <div class="chain"></div>
      <nav>
        <%= render 'admin/partials/menu' if current_user %>
        <%= menu_link 'nuestro trabajo', our_work_path %>
        <% @pages.each do |page| %>
          <%= menu_link(page.title, page) %>
        <% end %>
      </nav>
      <div class="chain"></div>
    </div>
  </div>
</header>
