<div class="social">
  <ul>
    <% social_links.each do |link| %>
      <li>
        <a href="<%= link.url %>">
          <i class="icon-<%= link.network %>"></i>
        </a>
      </li>
    <% end %>
  </ul>
</div>
