<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, label: 'titulo' %><br>
  <%= f.input :active, label: 'activa' %>
  <%= f.input :body, as: :ckeditor, label: 'cuerpo' %>
  <%= f.submit (@page.new_record? ? 'Crear Pagina' : 'Actualizar Pagina') %>
<% end %>
