<div class="page-content admin-editable pages">
  <%= form_tag sort_pages_path, id: 'js-sortable-container' %>
    <% @pages.each_with_index do |page, index|%>
      <p class="sort-page <%= !page.active || page.home_page? ? 'js-sort-disabled' : '' %>">
        <span class='hidden'> <%= "#{index + 1} - " %></span>
        <%= page.title.capitalize %>
        <span class='actions'><%= show_link(page) %></span>
        <span class='actions'><%= edit_link(page) %></span>
        <span class="actions"><%= destroy_link(page) %></span>
        <input type="hidden" value="<%= page.id %>" name="pages[]">
      </p>
    <% end %>
    <div class="actions">
      <%= link_to 'Ordenar', '#', id: 'sort-pages', class: 'button' %>
      <input type="submit" value="guardar" class="hidden button">
      <%= link_to 'cancelar', pages_path, class: 'hidden button' %>
    </div>
  </form>
</div>
