<div class="page-content admin-editable">

  <h1 class="title">
    <%= @page.title unless @page.slug == 'home' %> 
  </h1>
  <div><%= @page.body.html_safe %></div>

  <% if current_user %>
  <div class="actions">
    <%= edit_link(@page) %>
    <%= destroy_link(@page) %>
  </div>
  <% end %>
</div>
