<div id="js-albums-container">
  <div id="js-loader">
    <%= image_tag 'ajax-loader.gif' %>
  </div>
</div>

<script>
var apiKey = '<%= ENV['FLICKR_API_KEY'] %>',
    userId = '<%= ENV['FLICKR_USER_ID'] %>',
    flickr_api_endpoint = 'https://api.flickr.com/services/rest/'
    data = 'method=flickr.photosets.getList&api_key=' + apiKey + '&user_id=' + userId + '&primary_photo_extras=url_m&format=json&jsoncallback=?',
    albumPath = '/album/';

    $.ajax({
      dataType: "jsonp",
      url: flickr_api_endpoint,
      data: data,
      success: function(data) {
        var photosets = [];
        $.each(data.photosets.photoset, function(index, photoset){
          photosets.push( "<div class='album-wrapper'>" +
              "<img src='" + photoset.primary_photo_extras.url_m + "' alt=''>" +
              "<a href='" + albumPath + photoset.id + "' class='caption'>" +
                "<h2 class='heading'>" + photoset.title._content + "</h2>" +
                "<span class='description'>" + photoset.description._content + "</span>" +
              "</a>" +
              "</div>" +
              "</hr>");
        });
        $("#js-albums-container").html(photosets.join(" "));
      },
      error: function (data) { console.log(data.stat) }
    });
</script>
