<div class="flickr_img_wrap">
  <div id="js-loader">
    <%= image_tag 'ajax-loader.gif' %>
  </div>
</div>
<script>
var apiKey = '<%= ENV['FLICKR_API_KEY'] %>',
    userId = '<%= ENV['FLICKR_USER_ID'] %>',
    photosetId = '<%= @photoset_id %>',
    flickr_api_endpoint = 'https://api.flickr.com/services/rest/',
    data = 'method=flickr.photosets.getPhotos&api_key=' + apiKey + '&user_id=' + userId + '&photoset_id=' + photosetId + '&extras=url_m,url_l,url_s&format=json&jsoncallback=?',
    albumPath = '/album/';
    $.ajax({
      dataType: "jsonp",
      url: flickr_api_endpoint,
      data: data,
      success: function(data) {
        var photos = [];
        $.each(data.photoset.photo, function(index, photo){
          photos.push(
              "<a class='fancybox'" +
              " href='" + photo.url_l + "'" +
              " data-fancybox-group='gallery-" + photosetId + "'" +
              " title='" + photo.title + "'>" +
                "<img src='" + photo.url_s + "'>" +
              "</a>"
              );
        });
        $(".flickr_img_wrap").html(photos.join(" "));
      },
      error: function (data) { console.log(data.stat)}
    });
</script>
