<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>YeahEspacio mail</title>
  </head>
  <body>
    <h1><%= contact_params['name'] %> le mando un mail desde su pagina:</h1>
    <p><%= contact_params['message'] %></p>
    <p>Medios de contacto:</p>
    <p>Telefono: <%= contact_params['telephone'] %></p>
    <p>
    E-mail:
    <a href="mailto:<%= contact_params['mail'] %>">
      <%= contact_params['mail'] %>
    </a>
    </p>
  </body>
</html>
