@import '../variables';
@import '../mixins';

#submit-sort { display: none }

#sortable.sorting {
  cursor: move;

  .info, .actions { display: none }
  .admin-editable { padding: 0 1em }
  .title          { padding: 0; margin: .5em }
  #submit-sort    { display: block }
}

.button-form {
  display: inline;
  padding: 0;

  input[type='submit'] {
    padding: .3em .5em;

    &:hover { border: none; }
  }
}

.button {
  @include transition(all, .4s);
  background: transparent;
  border-radius: .3em;
  padding: .3em .5em;
  text-transform: capitalize;
}

.admin {
  .actions {
    color: transparent;
    font-size: .6em;
    text-align: right;
  }

  .admin-editable {
    @include box-sizing(border-box);
    @include transition(border, .4s);
    border-radius: .2em;
    border: 1px dashed transparent;
    padding: 1em;

    .button { color: transparent; }

    &:hover {
      border: 1px dashed $gray;

      .actions .button {
        background: $grayLight;
        color: $white;

         &:hover { box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2); }
      }
    }
  }
  .hint {display:none;}
  .input:hover .hint {display: block;}
}
