// ckeditor colors:

.cke_toolbar_separator { display: none }

.cke_dialog_footer,
.cke_dialog_title,
.cke_button,
.cke_combo_button{
  background: whitesmoke !important;
}

.cke_top, .cke_bottom {
  background: whitesmoke !important;
  background-image: none !important;
}

.cke_editor_page_body {
  margin-bottom: 0.5em;
}

.cke_combo_on a.cke_combo_button:hover,
.cke_combo_on a.cke_combo_button:focus,
.cke_combo_on a.cke_combo_button:active
{
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,.3) inset,0 1px 0 rgba(0,0,0,.2) !important;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.3) inset,0 1px 0 rgba(0,0,0,.2) !important;
  box-shadow: 0 1px 6px rgba(0,0,0,.3) inset,0 1px 0 rgba(0,0,0,.2) !important;
}

.cke_combo_off a.cke_combo_button:active,
.cke_combo_on a.cke_combo_button
{
  border: 1px solid #777;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.2),0 1px 5px rgba(0,0,0,.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2),0 1px 5px rgba(0,0,0,.6) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,.2),0 1px 5px rgba(0,0,0,.6) inset;
}
