@font-face {
    font-family: 'futura_xblk_btextra_black';
    src: url(asset_path('futura_extra_black_bt-webfont.eot'));
    src: url(asset_path('futura_extra_black_bt-webfont.eot?#iefix')) format('embedded-opentype'),
         url(asset_path('futura_extra_black_bt-webfont.woff')) format('woff'),
         url(asset_path('futura_extra_black_bt-webfont.ttf')) format('truetype'),
         url(asset_path('futura_extra_black_bt-webfont.svg#futura_xblk_btextra_black')) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:url(asset_path('icomoon.eot'));
  src:url(asset_path('icomoon.eot?#iefix')) format('embedded-opentype'),
    url(asset_path('icomoon.woff')) format('woff'),
    url(asset_path('icomoon.ttf')) format('truetype'),
    url(asset_path('icomoon.svg#icomoon')) format('svg');
  font-weight: normal;
  font-style: normal;
}
