@import '../mixins';
form label {
  text-transform: capitalize;
  margin-right: 20px;
}

.clean form {
  .left { width: 47%; }
  .right { width: 53%; }
}

form {
  text-align: center;

  .left, .right {
    @include box-sizing(border-box);
    display: block;
    float: left;
    padding: 10px;
  }

  .left { text-align: right; width: 30%; }

  .right { text-align: left; width: 70%;}

  label, input, textarea { border: none; }

  input, textarea {
    background: whitesmoke;
    border-bottom: 2px dashed black;

    &:focus { outline: none; }
  }

  input[type="submit"] {
    border-bottom: 1px solid transparent;
    border: none;
    padding: 10px;
    text-transform: capitalize;

    &:hover { border-bottom: 2px dashed black; }
  }
}

form.page-form {
  input {
    width: 99.4%;
    border-radius: .2em;
    border: 1px solid rgba(0,0,0, 0.3);
    margin: .5em auto;
  }

  input[type=checkbox],
  input[type=submit] {
    background: whitesmoke;
    width: auto;
  }
}
