@import '../variables';
@import '../mixins';

.fancybox > img, .album-wrapper{
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: .5em;
  padding: 5px;

  &:hover {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  }
}

.img-wrapper {
  display: inline;
  margin: .3em auto;

  img {
    background: white;
    border: 1px solid $grayLight;
    padding: .2em;
  }
}

.album-wrapper {
  margin: .5em auto;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  text-align: center;

  .caption {
    @include transition(top, 0.2s, ease-in-out);
    bottom: 0;
    color: $black;
    left: 0;
    padding-top: 2em;
    position: absolute;
    right: 0;
    top: 100%;
  }

  &:hover .caption {
    background: rgba(255, 255, 255, 0.3);
    top: 0;
  }
}
