@import '../mixins';
@import '../variables';

html, body, header, .container {
  height: 100%;
}

header, .main-content, .contactfoot {
  @include clearfix();
  float: left;
  @include box-sizing(border-box);
}

header {
  position: fixed;
  width: 30%;
}

.main-content {
  margin-left: 30%;
  width: 70%;
}

.main-content, .contactfoot{
  padding: 20px;
}

.super-high { min-height: 100%; }

.nocollapse, .container {
  @include box-sizing(border-box);
  display: block;
  margin: 0 0 $layoutMar 0;
  width: 100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  @include box-sizing(border-box);
  float: left;
  margin:5px auto;
  padding-right: $layoutPad;

  .layout &:last-of-type { padding-right: 0; }
}

.container-pad {
  padding: $layoutPad 0 $layoutPad $layoutPad;

  [class*='col-']:last-of-type { padding-right:  $layoutPad; }
}

.col-1-1 { width: 100%; }
.col-2-3 { width: 66.66%; }
.col-1-3 { width: 33.33%; }
.col-1-2 { width: 50%; }
.col-1-4 { width: 25%; }
.col-3-4 { width: 75%; }
.col-1-8 { width: 12.5%; }