@import 'variables';
@import 'mixins';

/* =============================================================================
TIPOGRAFIAS
========================================================================== */

body {
  @include clearfix();
  font-family: $sansFontFamily;
  font-size: $baseFontSize;
}


/* =============================================================================
RESETS
========================================================================== */
a { text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
}

// img {
//   display: inline-block;
//   height: auto;
//   width: 100%;
// }


/* ==========================================================================
GENERAL
========================================================================== */

header{
  @include box-shadow(0 0 10px rgba(0,0,0,0.3))
}

.main-content {
  margin-bottom: -50px;
  min-height: 100%;
  text-align: justify;
}

.contactfoot {
  height: 50px;
  text-align: center;
}
/* ==========================================================================
ESPACIO
========================================================================== */
.espacio {

  ul { margin-left: 20px; }

  .main-content img { @include box-shadow(0 0 5px rgba(0,0,0,0.2)); }
}
/* ==========================================================================
GALERIA FLICKR
========================================================================== */
.flickr_gallery {
  .flickr_img_wrap {
    @include box-shadow(0 0 5px rgba(0,0,0,0.2));
    float: left;
    margin: 10px;
    padding: 5px;
    position: relative;

    .img_info {
      @include transition(display, 0.5, linear);
      background: rgba(0,0,0,0.3);
      bottom: 5px;
      color: $white;
      display: none;
      font-size: 12px;
      left: 5px;
      padding: 5px;
      position: absolute;
      right: 5px;
    }

    &:hover .img_info { display: inline; }
  }
}

/* =============================================================================
COLORES BASICOS
========================================================================== */

a, i { @include transition(color, 0.2s, linear); }
a { color: $gray }
a:hover { color: $grayLight }


/* =============================================================================
MEDIA QUERIES
========================================================================== */
@media (max-width: 979px) {

  header {
    height: auto;
    position: relative;
  }

  header, .main-content, .contactfoot {
    float: none;
    width: 100%;
  }

  .main-content, .contactfoot {
    @include clearfix();
    margin-left: 0;
  }

  header {

    .col-1-2{
      float: left;
      width: 50%;
    }

    nav { margin-top: 10px; }

    h1 { margin-top: 50px; }
  }

  .social { text-align: center; }

  .chain { display: none; }

  .flickr_gallery .flickr_img_wrap .img_info {
    display: inline !important;
  }
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
}

hr:last-of-type {
  display: none;
}

@media (max-width: 640px) {

  header {
    @include box-shadow(none);

    .col-1-2 {
      float: none;
      padding-right: 0;
      width: 100%;
    }

    nav, h1 { margin-top: 5px; }

    .chain { display: block; }
  }


  form, .clean form {
    .left, .right {
      @include box-sizing(border-box);
      display: block;
      float: none;
      padding: 10px;
      text-align:left;
      width: 100%;

      input[type=text], input[type=tel], textarea { width:100%; }
    }
  }

}
@media (max-width: 480px) {

  .container [class*='col-'] {
    float: none;
    width: 100%;
  }

  .flickr_gallery .flickr_img_wrap {
    float: none;
    margin: 10px auto;
    text-align: center;

    img { width: auto; }
  }
}