@import '../variables';

nav {
  font-family: 'futura_xblk_btextra_black';
  margin-bottom: -10px;
  padding: 40px 5px 0 5px;

  a, input { text-transform: uppercase; }
  .active, .selected { color: $grayLight }
  .close-session { margin-bottom: 0; }
  .slabtextdone { margin-top: -1.5em; }
}

header .col-1-2 {
  float: none;
  padding-right: 0;
  width: 100%;
}

.chain {
  background: image-url('chain.png') top left repeat-x;
  height: 10px;
  margin: .2em 0;
}

.destroy:hover { border: none; color: red; }
