@import '../variables';

.social {
  text-align: right;

  li {
    display: inline;
    margin-right: 10px;
  }
}

[data-icon]:before {
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon);
  font-family: 'icomoon';
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-instagram,
.icon-twitter,
.icon-facebook {
  -webkit-font-smoothing: antialiased;
  font-family: 'icomoon';
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-twitter {
  color: lighten($twitter, 15%) ;

  &:before { content: "\ea93" }
  &:hover  { color: $twitter }
}

.icon-instagram {
  color: lighten($instagram,15%) ;

  &:before { content: "\ea90" }
  &:hover  { color: $instagram }
}

.icon-facebook {
  color: lighten($facebook,15%) ;

  &:before { content: "\ea8e" }
  &:hover  { color: $facebook }
}