<h4>
  <span class="slabtext">
    <%= link_to 'administracion', admin_path  %>
  </span>
</h4>
<h4 class="close-session">
  <span class="slabtext">
    <%= link_to 'cerrar sesion', destroy_user_session_path, method: 'DELETE' %>
  </span>
</h4>
<div class="chain"></div>
<br>
<br>
