<%= form_tag(send_message_path) %>
  <div class="contact-row">
    <div class="left">
      <label for="name">nombre</label>
    </div>
    <div class="right">
      <input id="name" type="text" autofocus="true" required="true" name="contact[name]">
    </div>
  </div>

  <div class="contact-row">
    <div class="left">
      <label for="last-name">apellido</label>
    </div>
    <div class="right">
      <input id="last-name" type="text" required="true" name="contact[last-name]">
    </div>
  </div>

  <div class="contact-row">
    <div class="left">
      <label for="mail">e-mail</label>
    </div>
    <div class="right">
      <input id="mail" type="text" required="true" name="contact[mail]">
    </div>
  </div>

  <div class="contact-row">
    <div class="left">
      <label for="message">mensaje</label>
    </div>
    <div class="right">
      <textarea id="message" type="text" required="true" name="contact[message]" placeholder="Escriba su mensaje aqui..."/>
        </textarea>
    </div>
  </div>

  <input type="submit" value="enviar">
</form>

<%= render partial: 'partials/contact' %>
