/*
 *= require 'normalize'
 *= require './modules/layout'
 *= require './modules/font-face'
 *= require './modules/social'
 *= require './modules/pages'
 *= require './modules/images'
 *= require './modules/forms'
 *= require './modules/navigation'
 *= require './modules/ckeditor_overrides'
 *= require './modules/main'
 *= require 'jquery.fancybox.css'
 *= require 'css/slabtext'
 *= require './modules/admin'
 *= require_self
 */


@import 'variables';

body { background: #F5F5F5; }

.clean {
  padding: 2em;

  .header { text-align: center; }
}

.alert {
  border-radius: .3em ;
  text-align: center;
  color: $gray;
  border: 1px solide $white;
  position: relative;
  margin: 1em auto;
  padding: 1em;
}

.notice  { background-color: $green; }
.warning { background-color: $yellow; }
.error   { background-color: $red; }

.hidden { display: none }

.admin-editable.pages {
  form { text-align: left; }
  input[type=submit] {
    border: none;
    padding: .3em .5em;
    &:hover { border: none; }
  }
}
.sorting .sort-page:hover { cursor: move; }

#js-loader {
  width: 100%;
  min-height: 5em;
  text-align: center;
}
