//= COLORES
$white     : #fff;
$grayLight : #aba9ab;
$gray      : #615f5f;
$black     : #000;

$red       : #F27676;
$yellow    : yellow;
$green     : #97EC97;


//= COLORES SOCIAL
$twitter   : #55acee ;
$instagram : #0d3c5f ;
$facebook  : #4a6ea9 ;

//= LAYOUT NO-COLLAPSE
$layoutPad : 20px;
$layoutMar : 10px;



//= Typography
$sansFontFamily : "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontSize   : 22px;