<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html class="no-js " lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Yeahespacio!</title>
    <meta name="description," content="Yeah! Es un espacio donde se unen varias pasiones creativas.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="farfanoide" name="author">
    <link rel="icon" href="/favicon.ico">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

    <!-- some IE support :( -->
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- TODO: retrieve keywords from db -->
    <!-- %meta{name: 'keywords', content: ""} -->

  </head>
  <body class=' <%= current_user ? 'admin' : '' %>'>
    <div class="container">
      <%= render partial: 'partials/menu' %>
      <div class="main-content">
        <%= render partial: 'partials/social' %>
        <%= render partial: 'partials/flashes' %>
        <%= yield %>
      </div>
    </div>
  <%= render partial: 'partials/javascripts' %>
  </body>
</html>
