
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html class="no-js " lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Yeahespacio!</title>
    <meta name="description," content="Yeah! Es un espacio donde se unen varias pasiones creativas.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="farfanoide" name="author">
    <link rel="icon" href="/favicon.ico">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% if current_user %>
      <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
    <% end %>
    <%= csrf_meta_tags %>

    <!-- some IE support :( -->
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- TODO: retrieve keywords from db -->
    <!-- %meta{name: 'keywords', content: ""} -->

  </head>
  <body class="clean">
    <div class="header">
      <h1 class="hide-text">
        <%= link_to image_tag('logoyeah.png'), root_path %>
      </h1>
    </div>
        <div class="container">
          <%= yield %>
        </div>
  </body>
</html>
